<form class="form">
  <div style="display: flex; gap: 50px">
    <mat-form-field class="full-width">
      <mat-label>Nome da música</mat-label>
      <input matInput [formControl]="control" [matAutocomplete]="auto" />
    </mat-form-field>

    <button mat-fab [disabled]="!control.value" (click)="confirm()" aria-label="Confirmar">
      <mat-icon>check</mat-icon>
    </button>
  </div>

  <mat-autocomplete #auto="matAutocomplete">
    @for (song of filteredSongs | async; track song) {
      <mat-option [value]="song.name">{{ song.name }}</mat-option>
    }
  </mat-autocomplete>
</form>
