@use "@angular/material" as mat;

.content {
  height: 100%;
  justify-content: center;
}

.side {
  padding: 25px;
}

.side-content {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
}

.home-content {
  padding: 30px;
}

.quote {
  height: 400px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.2rem;
}

.form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.full-width {
  width: 100%;
}
