<mat-toolbar>
  <button matButton="tonal" (click)="handleSidebar()">
    <mat-icon style="margin: 0">{{
      sidebar()?.opened ? "west" : "menu"
    }}</mat-icon>
  </button>
  <div class="center-header-content">
    <div class="title-container">
      <h1 class="title">
        TayWordle
        <mat-icon style="cursor: pointer" (click)="openTutorial()"
          >info</mat-icon
        >
      </h1>

      @if(themesService.currentTheme()) {
      <h2 class="subtitle">
        {{`${themesService.currentTheme()?.displayName}`}}
      </h2>
      }@else {
      <h2 class="subtitle">Aleatório</h2>
      }
    </div>
  </div>
  <button matButton="tonal" (click)="handleMode()">
    <mat-icon style="margin: 0">sunny</mat-icon>
  </button>
</mat-toolbar>
